{% extends "doctors_hub/base.html" %}
{% block content %}
    <h1>Welcome to Doctors Hub, {{user.username}}</h1>

    <form action="{% url 'doctor-search' %}" method="get">
        <label for="specialization">Specialization:</label>
        <select name="specialization" id="specialization">
            <option value="">Select Specialization</option>
            {% for specialization in specializations %}
                <option value="{{ specialization.id }}">{{ specialization.name }}</option>
            {% endfor %}
        </select>

        <label for="area">Area:</label>
        <select name="area" id="area">
            <option value="">Select Area</option>
            {% for area in areas %}
                <option value="{{ area.id }}">{{ area.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Search</button>
    </form>

    {% for doctor in doctors %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ doctor.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#"> Dr. {{ doctor.name }}</a>
        </div>
        <div class="doctor-details">
            <div class="doctor-specialization">
                <span class="text-muted">Specialization: </span>{{ doctor.specialization }}
            </div>
            <div class="doctor-area">
                <span class="text-muted">Address: </span>{{ doctor.area }}, {{doctor.address}}
            </div>
            <div class="doctor-phone">
                <span class="text-muted">Phone Number: </span>{{ doctor.phone }}
            </div>
        </div>
      </div>
    </article>
    {% endfor %}

{% endblock content %}